

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #261E07;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    color: white;
}

label{
    display: block;
    font-size: 16px;
}

input{
    border: 3px solid #eb862e;
    background: none;
    color: white;
    
}

.loginc {
    max-width: 400px;
    margin: 0 auto;
    
}

.loginc::after, .loginc::before {
    content: '';
    display: table;
    clear: both;
    
}


.grid {
    margin: 0 10px;
    display: block;
    min-height: 1px;
    float: left;
}

.login a {
    color: #eb862e;
}

.grid {width: calc(100%);}


.login h1 {
    text-align: center;
    font-weight: bold;
    margin: 40px 0 30px 0;
    color: white;
    font-size: 30px;
}

.semlogin {
    text-align: right;
    font-size: 16px;
}


.loginbg {
    width: 500px;
    margin: 0 auto;
    background: url(../img/logoopacidade.png) no-repeat 100% 0;
    background-color:  #31270a;
    padding: 10px 0 30px 0;
    margin-top: 120px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.493);
    border-radius: 15px;
    border: 2px solid #eb862e;
}

.login input {
    margin-bottom: 20px;
    padding: 10px 5px 5px 5px;
    outline: none;
    font-size: 20px;
}

.login input, button {
    position: relative;
    left: -10px;
}

.btn {
    display: block;
    padding: 15px 10px;
    background: #261E07;
    border-style: none;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: .1em;
}

.btn:hover {
    cursor: pointer;
    background: #FFBB55;
    transition: 0.5s;
}

.semlogin {
    color: white;
}



#msgerro {
    color: red;
    font-size: 16px;
}

body {
    font-family: monospace;
}