input, select, button, textarea{
    display: block;
    font-size: 40px;
    padding: 5px;
    font-family: monospace;
    color: #261E07;
    background: none;
    outline: none;
    border-style: none;
    border: 3px solid #261E07;
    border-radius: 8px;
}

.add-cerv input{
    width: 630px;
    float: left;
}

.add-cerv select{
    width: 630px;
    float: right;
    margin-bottom: 40px;

}

.add-cerv textarea{
    width: 100%;
}

.add-cerv button {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 29px;
    font-weight: 100;
    padding: 20px;
    background-color: #261E07;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.493);
    margin: 40px auto;
    display: block;
}

.add-cerv button:hover {
    background: #F39B4D;
    transition: 0.2s;
}

.text-center {
    text-align: center;
    font-size: 60px;
    margin: 40px 0;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo{
    display: flex;
}

.ativo .modal {
    animation: modal .3s forwards;
}

.modal {
    background: white;
    padding: 40px;
    border: 10px solid #fb5;
    box-shadow: 0 0 0 10px white;
    position: relative;
    min-width: 300px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0); 
    }
}


.fechar {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    background: #e54;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: monospace;
    outline: none;
}

.modal label {
    font-family: monospace;
    display: block;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
    font-size: 18px;
}

.modal input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

.modal button[type="submit"]{
    display: block;
    background: #e54;
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 18px;
    color: white;
    font-family: monospace;
    margin-top: 1rem;
    font-weight: bold;
}


.modal select{
    font-size: 18px;
    width: 100%;
}

.modal textarea{
    font-size: 18px;
    width: 100%;
    height: 200px;
}

.modal #posicao{
    color: white;
}

.modal h2{
    font-size: 30px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}


.modal #btnEditarDef{
    margin-top: 20px;
    background: #261E07;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px;
}

.modal #btnEditarDef:hover{
    background: #fb5;
    cursor: pointer;
    transition: 0.2s;
}

.div-cerveja button{
    float: right;
}

.div-cerveja p{
    float: left;
    margin-top: 13px;
    font-size: 30px;
    margin-left: 10px;
}

.div-cerveja .btn-exclui{
    background: #A00000;
    color: #780000;
    border: 3px solid #780000;
    margin-left: 0 10px;
}

.div-cerveja .btn-edit{
    background: #fb5;
    color: #EB862E;
    border: 3px solid #EB862E;
    margin-right: 10px;
}

.div-cerveja .btn-exclui, .div-cerveja .btn-edit{
    cursor: pointer;
}

#posicao-exclui{
    color: #FFFFFF;
}

#btnExcluirDef{
    border: none;
    background: #261E07;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin: 0 auto;
}

#fraseexclui {
    font-size: 18px;
    margin: 20px 0;
}

#btnExcluirDef:hover{
    background: #fb5;
    cursor: pointer;
    transition: 0.2s;
}

.text-center {
    font-size: 45px;
    color: #261E07;
}